.page {
    background-image: url(../images/backgroungSteel.jpg);
    background-repeat: repeat;
    background-color: (255, 255, 255, 0.1);
    background-position: center;
    width: 1000px;
}

.Introduction {
    background-color: white;
    opacity: 0.9;
}

.introductionHeading {
    padding: 5px;
    margin-top: 5px;
}

.introductiontext {
    padding-left: 25px;
    font-weight: b;
}

.Updateinformation {
    background-color: white;
    opacity: 0.95;
    color: red;
    font-weight: bold;
    margin-top: 25px;
}

.evidenceHeading {
    opacity: 0.8;
    background-color: white;
    padding: 5px;
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    border: solid 0px;
    text-align: center;
}

.text {
    width: 500px;
}

.textcontainer1 {
    display: flex;
}

.textSmall {
    height: 300px;
}

.Grundlage1 {
    text-align: center;
    width: 1000px;
}

.Connection1 {
    background-color: white;
    opacity: 0.9;
    margin-top: 50px;
}

.evidencetext {
    opacity: 0.9;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    border-radius: 10px;
}

.Attention2 {
    background-color: white;
    opacity: 0.9;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
}