.service {
    height: 2000px;
    display: flex;
    background-image: url(../images/backgroungSteel.jpg);
    background-color: (255, 255, 255, 0.1);
    background-position: center;
    overflow: visible;
    width: 1000px;
}

.critic {
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 150px;
    background-color: white;
    opacity: 0.9;
    height: 220px;
    padding: 10px;
}

.input {
    margin-top: 40px;
    display: flex;
}

.inputbox {
    height: 50px;
    width: 300px;
}

.buttonaddtext {
    height: 50px;
    width: 70px;
}

.output {
    margin-top: 80px;
    background-color: white;
    opacity: 0.8;
    height: 220px;
    padding: 10px;
}

.contact {
    margin-top: 25px;
    margin-right: 25px;
    width: 500px;
    background-color: white;
    opacity: 0.7;
    height: 200px;
    padding: 15px;
}

.information {
    margin-top: 7px;
}

@media (max-width: 1000px) {
    .websitecontainer {
        display: block;
    }
    .service {
        display: block;
    }
    .critic {
        width: 250px;
    }
    .criticheading {
        font-size: 5px;
    }
    .contact {
        margin-top: 400px;
        width: 300px;
        margin-left: 30px;
    }
    .output {
        margin-top: 20px;
    }
}