.background {
    width: 1100px;
    opacity: 0.2;
}

.content {
    background-image: url(../images/backgroungSteel.jpg);
    background-color: (255, 255, 255, 0.1);
}

.Introduction {
    background-color: white;
    opacity: 0.7;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product1picture {
    width: 500px;
    height: 378px;
    opacity: 1.0;
}

.producttext {
    background-color: white;
    opacity: 0.8;
    width: 500px;
    padding: 0px;
}

.productlink {
    text-align: center;
    background-color: white;
    margin-left: 80px;
    margin-right: 100px;
    font-weight: bold;
}