.dropdownmenu {
    width: 300px;
    margin-bottom: 8px;
}

.Exposition {
    display: flex;
}

.Bewehrung {
    margin-right: 20px;
}

#Plattendicke {
    text-align: center;
}

#tSteg {
    text-align: center;
}

#Plat_Li {
    text-align: center;
}

#Plat_Re {
    text-align: center;
}

#go {
    text-align: center;
}

#gu {
    text-align: center;
}

#h_concrete {
    text-align: center;
}

#b_concrete {
    text-align: center;
}

#t_Platte_O {
    text-align: center;
}

#t_Platte {
    text-align: center;
}

#Stegdicke {
    text-align: center;
}

#b_down {
    text-align: center;
}

#t_down {
    text-align: center;
}

.configuration {
    margin: 0px;
}

.inputs {
    margin-right: 20px;
    height: 400px;
    display: flex
}

#Querschnitt {
    width: 180px;
}

.Input_plus_configuration {
    display: flex;
}

.measures {
    display: block
}

.Querschnittdraw {
    margin-left: 10px;
    height: 350px;
    width: 350px;
    background-color: white;
}